global
  maxconn 256

defaults
  mode http
  option httpclose
  timeout connect 5s
  timeout client 30s
  timeout server 30s

frontend consul_http
  bind *:8500
  default_backend consul_nodes

backend consul_nodes
  balance roundrobin
  server consul_a consul-a:8500 check
  server consul_b consul-b:8500 check
